<DIV class= "index" id="personas_index">
  <H1>Lista de Personas</H1>
  <%= link_to "Nueva Persona", new_persona_path %> |
  <%= link_to "Regresar", root_path %>
  <TABLE>
    <TR>
      <TH>Nombre</TH>
      <TH>Alias</TH>
      <TH>Saldo</TH>
    </TR>
    <% @personas.each do |persona| %>
      <TR>
        <TD><%= persona.nombre %></TD>
        <TD><%= persona.alias %></TD>
        <TD><%= persona.saldo %></TD>
      </TR>
    <% end %>
  </TABLE>
</DIV>
